@layer base {
	html {
		font-family: "Livvic", serif;
		@apply bg-sherpa;
	}

	*:focus {
		@apply outline-0 ring-1 ring-offset-2 ring-baked ring-offset-baked;
	}

	/* scrollbars */
	* {
		scrollbar-width: auto;
		scrollbar-color: theme("colors.casul") theme("colors.swamp");
	}

	*::-webkit-scrollbar {
		width: 14px;
	}

	*::-webkit-scrollbar-track {
		background: theme("colors.swamp");
		border-radius: 8px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: theme("colors.casul");
		border-radius: 16px;
		border: 2px solid theme("colors.casul");
	}
}
