---
import Button from "../components/Button.astro";
import Ready from "../components/Ready.astro";
import Stories from "../components/Stories.astro";
import Teams from "../components/Teams.astro";
import TextField from "../components/TextField.astro";
import Typography from "../components/Typography.astro";
import Base from "../layouts/Base.astro";
import Layout from "../layouts/Layout.astro";

// fonts
import "@fontsource/livvic/100.css";
import "@fontsource/livvic/200.css";
import "@fontsource/livvic/300.css";
import "@fontsource/livvic/400.css";
import "@fontsource/livvic/500.css";
import "@fontsource/livvic/600.css";
import "@fontsource/livvic/700.css";
import "@fontsource/livvic/900.css";

import "../theme/globals.css";
---

<Base title="Home">
	<Layout>
		<Typography variant="h1">Heading 1</Typography>
		<Typography variant="h2">Heading 2</Typography>
		<Typography variant="h3">Heading 3</Typography>
		<hr />
		<Typography variant="body1">Body 1</Typography>
		<Typography variant="body2">Body 2</Typography>
		<Typography variant="small">Error</Typography>
		<hr />
		<Button>contact us</Button>
		<Button disabled>Primary</Button>
		<Button href="/" target="_blank">Link</Button>

		<hr />
		<Button variant="secondary">Secondary</Button>
		<Button variant="secondary" disabled>Secondary - Link</Button>
		<Button href="/" target="_blank" variant="secondary">
			Secondary - Link
		</Button>
		<hr>
		<Button variant="primary-dark">Primary dark</Button>
		<Button variant="primary-dark" disabled>Primary dark - disabled</Button>
		<Button variant="primary-dark" href="/" target="_blank">Primary dark - Link</Button>

		<hr />

		<TextField label="Insert your message here" name="name" isRequired={true} />

		<hr />

		<TextField
			label="Insert your message here"
			name="name1"
			isRequired={true}
			error="This field is required"
		/>

		<TextField
			label="Insert your message here"
			name="name2"
			isRequired={true}
			isMultiline={true}
			error="This field is required"
		/>

		<Teams />

		<Stories />

		<Ready />

	</Layout>
</Base>
