---
import { Image } from "@astrojs/image/components";
import logo from "../assets/logo.svg";
import NavLink from "./NavLink.astro";
import Typography from "./Typography.astro";
import { Icon } from "astro-icon";

const year = new Date().getFullYear();
---

<footer class="bg-swamp text-white p-10 py-16 tablet:py-14 desktop:py-12">
	<div
		class="container mx-auto grid grid-cols-1 justify-items-center gap-6 tablet:grid-cols-2 tablet:grid-rows-3 desktop:grid-cols-[285px_minmax(445px,_1fr)_1fr] desktop:grid-rows-2"
	>
		<div
			class="w-full flex justify-center tablet:order-1 tablet:items-start tablet:justify-start"
		>
			<a href="/">
				<Image
					src={logo}
					alt="MyTeam"
					width={95}
					height={24}
					class="desktop:hidden"
				/>
				<Image
					src={logo}
					alt="MyTeam"
					width={160}
					height={40}
					class="hidden desktop:inline-flex"
				/>
			</a>
		</div>

		<nav
			class="w-full flex justify-center tablet:order-3 tablet:items-end tablet:justify-start desktop:order-4"
		>
			<ul class="flex flex-row gap-6">
				<li>
					<NavLink href="/">Home</NavLink>
				</li>
				<li>
					<NavLink href="/about">About</NavLink>
				</li>
			</ul>
		</nav>

		<div
			class="w-full opacity-60 tablet:order-2 tablet:row-span-2"
		>
			<Typography variant="body2" as="p" className="text-center tablet:text-right desktop:text-left">
				987 Hillcrest Lane
			</Typography>
			<Typography variant="body2" as="p" className="text-center tablet:text-right desktop:text-left">
				Irvine, CA
			</Typography>
			<Typography variant="body2" as="p" className="text-center tablet:text-right desktop:text-left">
				California 92714
			</Typography>
			<Typography variant="body2" as="p" className="text-center tablet:text-right desktop:text-left">
				Call Us : 949-833-7432
			</Typography>
		</div>

		<div
			class="w-full flex flex-row justify-center gap-4 tablet:order-3 tablet:items-end tablet:justify-start desktop:justify-end"
		>
			<a
				href="https://www.facebook.com/"
				target="_blank"
				rel="nofollow"
				class="text-white hover:text-flory ease-in-out duration-300"
			>
				<Icon name="fa-brands:facebook-square" width={24} height={24} />
			</a>
			<a
				href="https://www.pinterest.com/"
				target="_blank"
				rel="nofollow"
				class="text-white hover:text-flory ease-in-out duration-300"
			>
				<Icon name="fa-brands:pinterest" width={24} height={24} />
			</a>
			<a
				href="https://twitter.com/"
				target="_blank"
				rel="nofollow"
				class="text-white hover:text-flory ease-in-out duration-300"
			>
				<Icon name="fa-brands:twitter" width={24} height={24} />
			</a>
		</div>

		<div
			class="w-full flex justify-center tablet:justify-end tablet:order-5 tablet:items-end"
		>
			<Typography variant="body2" as="p" className="opacity-60">
				Copyright {year}. All Rights Reserved
			</Typography>
		</div>
	</div>
</footer>
