---
import { Image } from "@astrojs/image/components";
import pattern from "../assets/bg-pattern-about-1-mobile-nav-1.svg";
---

<section class="bg-sherpa relative overflow-hidden">
	<div
		class="container mx-auto relative pt-20 pb-28 px-6 grid grid-cols-1 items-center desktop:grid-cols-[350px_minmax(min-content,730px)] desktop:gap-8"
	>
		<h2 class="h2 text-white text-center desktop:text-left">About</h2>

		<p
			class="body2 text-white text-center relative mt-4 tablet:max-w-[28rem] tablet:mx-auto tablet:mt-6 desktop:text-left desktop:text-18 desktop:max-w-full desktop:mt-20 desktop:before:content-[''] desktop:before:absolute desktop:before:bg-flory desktop:before:w-[3.125rem] desktop:before:h-[0.125rem] desktop:before:-top-10"
		>
			We help companies build dynamic teams made up of top global talent. Using
			our network of passionate professionals we drive innovation and deliver
			incredible outcomes. Talented, diverse teams shape the best products and
			experiences. We’ll bring those teams to you.
		</p>
	</div>

	<Image
		src={pattern}
		alt="Background pattern"
		width={200}
		height={200}
		class="absolute z-0 -right-[6.25rem] -bottom-[6.25rem] tablet:bottom-0"
	/>
</section>
