---
interface Props {
	href: string;
	className?: string;
}

const { href, className } = Astro.props;

const baseClasses = [
	"font-livvic text-white font-semibold text-15 leading-6 lowercase hover:text-flory ease-in-out duration-300 desktop:text-18 desktop:leading-7",
	className
]
	.filter(Boolean)
	.join(" ");
---

<a href={href}
	 class={baseClasses}>
	<slot />
</a>
