---
---

<section class="bg-sherpa">
	<div
		class="container mx-auto h-full px-6 py-24 tablet:py-28 flex flex-col items-center justify-center gap-6"
	>
		<div>
			<h1 class="h1 text-white text-center">Whoops</h1>

			<h2 class="h2 text-flory text-center mt-4 tablet:mt-6">
				that page is gone
			</h2>
		</div>

		<p class="body1 text-white text-center mt-8">
			Looks like the page you requested doesn’t exist.
		</p>

		<a href="/" class="btn-secondary" aria-label="Back home">Back home</a>
	</div>
</section>
