---
import pattern from "../../public/assets/bg-pattern-home-6-about-5.svg";
---

<section class="bg-flory relative overflow-hidden">
	<div
		class="container mx-auto flex flex-col items-center gap-6 py-20 tablet:flex-row tablet:items-center tablet:justify-end tablet:gap-20 tablet:py-16 desktop:justify-center desktop:gap-64"
	>
		<div class="max-w-xs tablet:max-w-full">
			<h2 class="h2 text-daintree text-center relative">
				Ready to get started?
			</h2>
		</div>
		<a href="/contact" class="btn-primary-dark">Contact us</a>
	</div>

	<img
		src={pattern.src}
		alt="Background pattern"
		width={200}
		height={144}
		class="absolute z-0 -bottom-5 desktop:bottom-0"
	/>
</section>
