---
export interface Props {
	title: string;
}

const { title } = Astro.props;

// fonts
import "@fontsource/livvic/100.css";
import "@fontsource/livvic/200.css";
import "@fontsource/livvic/300.css";
import "@fontsource/livvic/400.css";
import "@fontsource/livvic/500.css";
import "@fontsource/livvic/600.css";
import "@fontsource/livvic/700.css";
import "@fontsource/livvic/900.css";

import "../theme/globals.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta
		name="description"
		content="A real glimpse into a professional front-end developer's workflow."
	/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.ico" />
	<link rel="icon" href="/assets/favicon.ico" />
	<meta name="generator" content={Astro.generator} />

	<title>MyTeam Multi-Page Website | {title}</title>
</head>
<body
	class="grid min-h-screen grid-rows-[minmax(7.5rem,auto)_auto_minmax(12.5rem,auto)] desktop:grid-rows-[minmax(auto,7.5rem)_auto_minmax(auto,12.5rem)]">
<slot />
</body>
</html>
